<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head.ejs %>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class="jumbotron jumbo-bg text-center text-white">
      <div class="container">
        <h1>NSS 'n Friends TriviaBot for Slack</h1>
        <p>
          This is a Slack integration for generating polls to vote on where we
          will go for trivia each week.
        </p>
        <a href="/">
          <button type="button" class="btn btn-lg btn-light">
            TriviaBot Home
          </button>
        </a>
        <a href="https://github.com/davi3blu3/nss_triviabot">
          <button type="button" class="btn btn-lg btn-outline-light">
            Source on GitHub
          </button>
        </a>
      </div>
    </div>
    <div class="container">
      <h3>About NSS 'n Friends</h3>
      <p>
        Some friends from Nashville Software School started going to trivia
        together around Nashville. As the group grew, they needed a way to
        decide which day everyone was available and what trivia venue they would
        visit each week. It has grown into a Slack team with 50+ members in 3
        time zones. Whoop whoop
      </p>
    </div>
  </body>
</html>
