<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head.ejs %>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class="jumbotron jumbo-bg text-center text-white">
      <div class="container">
        <h1>NSS 'n Friends TriviaBot for Slack</h1>
        <p>
          This is a Slack integration for generating polls to vote on where we
          will go for trivia each week.
        </p>
        <a href="/about">
          <button type="button" class="btn btn-lg btn-light">
            About NSS 'n Friends
          </button>
        </a>
        <a href="https://github.com/davi3blu3/nss_triviabot">
          <button type="button" class="btn btn-lg btn-outline-light">
            Source on GitHub
          </button>
        </a>
      </div>
    </div>
    <div class="container">
      <h3>What is TriviaBot?</h3>
      <p>
        The NSS 'n Friends TriviaBot Slack API is an experimental Slack
        integration for the purpose of generating polls for our Slack team
        without a usage limit. Each week we will use it to decide which day and
        venue to go to trivia in the beautiful city of Nashville, TN.
      </p>
      <p>This is a Node.js app using Express 4 and hosted on Heroku.</p>
      <h3>How this api works</h3>
      <p>...dunno yet. Still writing it.</p>
    </div>
  </body>
</html>
